#aus_map {
	top:50px;
	bottom: 50px; 
	left: 500px;
	right: 50px;
	/*height: 1000px;
	width: 800px;*/
}
#world_map {top:50px;
	bottom: 50px; 
	left: 500px;
	right: 50px;
	/*height: 1000px;
	width: 800px;*/
}
